# Variables de entorno para la aplicación

# Servidor
SERVER_PORT=8080

# Base de datos
DB_HOST=Ip
DB_PORT=Port
DB_NAME=Db
DB_USERNAME=User
DB_PASSWORD=Password

# JPA/Hibernate
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

# H2 Console
H2_CONSOLE_ENABLED=false

# Logging
LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG
